 .recipe-detail{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #88000F; 
    color: white;
    position: absolute;
    top: 50px;
    left: 10vw;
    font-size: 16px;
    z-index:2;
}

.close{
    height:35px;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #F96801;
}

.close:hover{
    transform: scale(1.1,1.1);
}

.pic-small{
    height:160px;
    width: 160px;
    position: absolute;
    left:40px;
    top: 40px;
}

.recipe-detail>h2{
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.recipe-content{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.ingredients{
    width: 50%;
    text-align: right;
    padding-right: 15px;
    border-right: 1px solid #999;
}

.ingredients>ul{
    list-style: none;
}

.instructions{
    width: 50%;
    text-align: left;
    padding-left: 15px;
    padding-right: 40px;
}

.btn-recipe{
    height: 50px;
    width: 60%;
    border: 1px solid #F96801;
    background-color: none; 
    border-left: none;
    margin-bottom:40px;   
}

.btn-recipe>.btn{
    color: #F96801;
}

.btn-recipe>.btn:hover{
    color: white;
    background-color: #F96801;
}

.recipe-saved{
    background-color: white;
    color: #F96801;
    width: 200px;
    border: 1px solid #F96801;
    display: flex;
    z-index: 1;
    position: absolute;
    bottom: 100px;
    left: 120px;
    text-align: left;
    padding: 5px;
}

.close-small{
    background-color: #F96801;
    width: 15px;
    height: 15px;
}

.btn-here{
    background: none;
    border: none;
    border: 1px solid #F96801;
}

.btn-here>a{
    text-decoration: none;
    color:#F96801;
} 

.btn-here:hover{
    background-color: #F96801;
}

.btn-here>a:hover{
    color: white;
}

.btn-detail{
    text-align: right;
    max-width: 400px;
    border-left: none !important;
    margin-left: 0 !important; 
}

.ingredients li{
    list-style: none;
}