.recipe-detail{
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin: auto auto;
    background-color: #88000F;
    color: white;
    position: absolute;
    top: 50px;;
    left: 15vw;
}

.close{
    height:35px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.picture{
    position: absolute;
    top: 140px;
    right: 60px;
}
.ingr-ctn{
    margin-bottom: 40px;
}

.recipe-detail>h2{
    width: 700px;
    font-size: 25px;
    border-bottom: 1px solid white;
    margin: 0px auto auto 70px;
    text-align: right;
    padding-top: 80px;
    padding-bottom: 20px;
}

.ingredients{
    width: 420px;
    border-top: 1px solid white;
    box-shadow: 4px 4px 15px 1px rgba(111, 56, 56, 0.5);
    margin-left: 120px; 
    padding: 20px;
}

.ingrH3{
    margin: 60px auto -6px 200px;
}

.instructions{
    right: 20px;
    background-color: #88000F;
    box-shadow: 4px 4px 15px 1px rgba(111, 56, 56, 0.5);
    padding: 20px;
    border-top: 1px solid white; 
    z-index: 1;   
    width: 60vw;
    margin-left: 70px;     
    margin-bottom: 40px;
}

.insH3{
    margin: -50px auto 35px 120px;
}

.btn-recipe{
    align-self: left;
    text-align: right;
    border: 1px solid white;
    border-left: none;
    margin-bottom: 40px;
    position:relative;
}

.btn-recipe>.btn:hover{
    color: #F96801;
}

.recipe-saved{
    background-color: white;
    color: #88000F;
    width: 200px;
    border: 1px solid white;
    display: flex;
    z-index: 1;
    position: absolute;
    top:-60px;
    left: 120px;
    text-align: left;
    padding: 5px;
}

.close-small{
    height: 18px;
    background-color: #88000F;
}

.btn-here{
    background: none;
}

.btn-here>a{
    text-decoration: none;
}