.list{
    background-color: #CE5A5A;
    color: white;
    width: 40vw;
    padding: 40px 50px;
    text-align: left;
    position: absolute;
    top: 100px;
    left: 300px;
    overflow: hidden;
    z-index: 4;
}

.list>img{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid white;
}

.add:hover{
    transform: scale(1.1,1.1);
}

.list>img:hover{
    transform: scale(1.1,1.1);
}

.list>h2{
    border-bottom: 1px solid white;
    margin-bottom: 30px;
}

.list>ul>li{
    display: flex;
    justify-content: space-between;
}

.delete{
    height: 20px;
    width: 20px;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid white;
    margin: 5px;
    position:relative;
    z-index: 3;
}

.list .delete{
    background-color: transparent;
}

.delete:focus{
    outline: none;
}

.delete:hover{
    transform: scale(1.1,1.1);
}

.delete img{
    height: 22px;
    width: 22px;
    position: absolute;
    top: -7px;
    left: -7px;
}

.add-item{
    background-color: #CE5A5A;
    margin-top: 0;
    padding-left: 25px;
    font-style: inherit;
}

.btn-list{
    display: block;
    margin: 40px -100px auto 190px;
    font-weight: bold;
    border: 2px solid white;
    height: 40px;
    border-right: none;
}

.btn-ls{
    font-family: 'Poiret One', cursive;
}

.btn-list>.btn-ls:hover{
    background-color: white;
    color: #CE5A5A;
}

.btn-list>.btn-ls:focus{
    outline: none;
}