
.list{
    background-color: #CE5A5A;
    color: white;
    width: 500px;
    height: auto;
    padding: 40px 50px 120px 50px;
    text-align: left;
    position: absolute;
    overflow: auto;
    top: 100px;
    left: 300px;
    z-index: 4;
}

.list>img{
    width: 35px;
    height: 35px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: 1px solid white;
}

.add:hover{
    transform: scale(1.1,1.1);
}

.list>img:hover{
    transform: scale(1.1,1.1);
}

.list>h2{
    border-bottom: 1px solid white;
    margin-bottom: 30px;
}

.list>ul>li{
    display: flex;
    justify-content: space-between;
}

.delete{
    height: 20px;
    width: 20px;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid white;
    margin: 5px;
    position:relative;
    z-index: 3;
}

.list .delete{
    background-color: transparent;
}

.delete:focus{
    outline: none;
}

.delete:hover{
    transform: scale(1.1,1.1);
}

.delete img{
    height: 22px;
    width: 22px;
    position: absolute;
    top: -7px;
    left: -7px;
}

.add-item{
    background-color: #CE5A5A;
    margin-top: 0;
    padding-left: 25px;
    font-style: inherit;
}

.btn-list{
    height: 50px; 
    width: 380px;  
    border: 1px solid white;
    background-color: none;  
    position: absolute;
    right: 0;
    bottom:20px;
    border-right: none;
    margin: 10px auto;

}

.btn-ls{
    font-family: 'Poiret One', cursive;
}

.btn-list>.btn-ls:hover{
    background-color: white;
    color: #CE5A5A;
}

.btn-list>.btn-ls:focus{
    outline: none;
}

@media (max-width: 520px){
    .list{
        display: flex;
        flex-direction: column;
        width: 94vw;
        top: 10px;
        left: 2vw;
        overflow: auto;
        padding: 40px 5px 120px 5px;   
    }

    .addItem{
        margin-top: -2px;
        margin-bottom: 20px;
    }

    .list h2{
        margin-left: 20px;
    }

    .list>img{
        width: 18px;
        height: 18px;
        top: 5px;
        right: 5px;
    }

    .list>ul{
        padding-right: 15px;
    }

    .btn-list{
        margin: 0;
        display: flex;
        flex-direction: column;  
        border: none;
        width: 80vw;
        margin-right: 10vw;
        height: auto;
        background-color: rgba(0,0,0,0.1); 
    }
}