.cards{
    width: 100vw;
    height: auto;
    padding-bottom: 150px;
    background-color:orange;
    background-image: url("./../../img/background3.jpeg");
    background-size: cover;
    color: white;
    position:relative;
    overflow: hidden;

}

.search-results{
    display: flex;
    flex-flow: wrap;
}

.cards>h1{
    margin-left: 20vw;
    border-bottom: 2px solid white;
}

.cards-container{
    max-width:1120px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    align-content: space-between;
    justify-content: center;
    background-color: rgba(31,29,29,0.5);    
}

.button-ctn{
    height: 50px;   
    border: 1px solid white;
    position: absolute;
    right: -10px;
    bottom: 50px;
    background-color: none;    
}

.button-ctn>.btn:hover, .hashLink:hover{
    color: #F96801;
}

.scew{
    background: none;
    color: white;
    padding-left: 30px;
    height: 100%;
    font-size: 30px;
    padding: 0 30px;
    border: none;
}

.hashLink{
    font-style: inherit;
    text-decoration: inherit;
    font-size: inherit;
}

@media (max-width: 520px){
    .cards-container{
        margin-bottom: 70px;
    }
    .button-ctn{
        display: flex;
        flex-direction: column;  
        border: none;
        width: 90vw;
        height: auto;
        right: 0;
        margin-right: 5vw;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        background-color: rgba(0,0,0,0.3);
    }    
    .button-ctn>.btn:hover{
        background-color: white;
    }
    
    .scew{
        height: 50px;
        font-weight: bold;
        padding: 0 30px;
        border: 1px solid white;
    }
}