.home{
    width: 99vw;
    height: 90vh;
    background-image: url('./../../img/background1.jpeg');
    background-color: orange;
    background-size: cover;
    position:relative;
    color: white;
    background-attachment: fixed;
}

a{
    color: white;
    font-size: 25px;
}

.overlay{
    width: 100vw;
    height: 90vh;
    background-color: rgba(31,29,29,0.5); 
}

.heading{
    margin-top:200px;
    line-height: 0px;
    }

.heading2{
    border: 1px solid white;
    text-align:left;
    width: 450px;
    margin: auto;
    padding: 25px;
}

.heading2>h4{
    padding-left:30px;
    margin-bottom:-10px;
}

.heading2>p{
    padding-left:25px;
    margin-top: -10px;
}

.arrow-down{
    height:50px;
    width: 50px;
    position: absolute;
    bottom: 0;
    display: block;
    left: 50%;
    margin-left:-25px;
}
