.link-container .link{
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
}

.link:hover, link:active{
    border-bottom: 1px solid  #F96801;
    transform: scale(1.1,1.1);
}

.nav{
    width: 100%;
    padding: 20px;
    font-family: 'Overpass Mono', monospace;
    font-size: 20px;
    background-color: rgba(31,29,29,0.8);
    position: fixed;
    left: 0;
    top: 0;
    text-align: right;
    z-index: 1;
}

.link-container{
    margin-right: 70px;
    display: flex;
    justify-content: flex-end;
}

.logged-in{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 520px){
    .link-container{
        justify-content: space-between;
    }
}