.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    width: 100vw;
    background-color: #CE5A5A;
    color: white;
    margin-bottom: -20px;
}

.video>h1{
    margin-left: -300px;
}

.video-search{
   background-color: #CE5A5A;
}

.video>form{
   margin-top: -20px;
   margin-bottom: 100px;
}

.next{
    margin-bottom: 80px;
    margin-top: 20px;
    background-color: #CE5A5A;
    border: 2px solid white;
    color: white;
    font-family: inherit;
    font-size: 25px;
}

.next:hover{
    background-color: white;
    color: #CE5A5A;
}

.next:focus{
    outline: none;
}

