.more{
    margin-top: 0;
    width: 100vw;
    background-color: #CE5A5A;
    color: white;
}

.icon-outer{
    height:220px;
    display:flex;
    justify-content: center;
    padding: 20px;
}

.line{
    height: 1px;
    width: 80vw;
    margin: 0 auto;
    border-bottom: 1px solid white;
}

.icon-ctn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 120px;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-search{
   background-color: #CE5A5A;
}

.video>form{
   margin-bottom: 40px;
}

