 .search{
    width: 100vw;
    height: 90vh;
    background-color: #F96801;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 80px;
    
}

.search-item-ctn{
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.btn-large{
    width: 220px;
    height: 50px;
    margin-right: 35px;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.btn-large:hover{
    transform: scale(1.05,1.05);
    transition:all 0.5s ease;
}

.arrow-right{
    height:45px;
    width: auto;
}

form{
    margin-top: 60px;
    display: flex;
    align-items: flex-end;
}

.search-icon{
    height:35px;
    padding-top: 5px;
    padding-left: 5px;
}

.search-btn{
    margin-left: 20px;
    background: none;
    border: 2px solid white;
}

.search-btn:hover{
    transform: scale(1.05,1.05);
    transition:all 0.5s ease;
}

input{
    border: none;
    border-bottom: 2px solid white;
    background-color: #F96801;
    width: 40vw;
    font-size: 20px;
    color: white;
    outline: none;
}

input::placeholder{
    color: rgba(255,255,255,0.4);
    font-size: 20px;
}

.search-btn{
    outline:none;
}

@media (max-width: 520px){

    .search{
        height: 50vh;
    }
    
    h1{
        font-size: 70px;
    }
    
    .search-item-ctn{
        width: 80vw;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;    
    }

    .btn-ctn{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .btn-large{
        width: 100%;
    }

    form{
        width: 100%;
        margin-top: 60px;
    }
    
    .search-icon{
        height:20px;
        padding: 2px;
        border: 2px solid white;   
        margin-bottom: -3px;     
    }
    
    .search-btn{
        border: none;
    }
        
    input{
        width: 100%;
        font-size: 20px;
        padding-left: 3px;
        margin-left: 20px;
        z-index: 1;
    }
    
    input::placeholder{
        font-size: 12px;
    }
    
    .search-btn{
        outline:none;
    }

    .arrow-right{
        display: none;
    }



}