body {
  margin: 0;
  padding: 0;
  font-family: 'Poiret One', cursive;
}

h1{
  font-size: 120px;
  font-weight: 200;
}

a{
  color:black;
}

.btn{
  font-family: 'Poiret One', cursive;
  color: white;
  background: none;
  border: 1px solid white;
  outline: none;
}

